---
layout: default
title: Talal Alothman - VR/AR/XR Developer & Researcher
description: >-
  Personal blog and portfolio of Talal Alothman, a software developer
  specializing in VR, AR, XR, spatial user interfaces, and immersive technology.
  Exploring interaction design for virtual reality and augmented reality.
---

<div class="header">
    <h1>{{ site.eng-name | append: ' / ' }}<span class="arabic">{{site.ara-name }}</span> </h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>